apiVersion: hbase.zncdata.dev/v1alpha1
kind: HbaseCluster
metadata:
  labels:
    app.kubernetes.io/name: hbasecluster
    app.kubernetes.io/instance: hbasecluster-sample
    app.kubernetes.io/part-of: hbase-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: hbase-operator
  name: hbasecluster-sample
spec:
  image:
    custom: docker.stackable.tech/stackable/hbase:2.4.17-stackable24.3.0
  master:
    roleGroups:
      default:
        replicas: 3
  regionServer:
    roleGroups:
      default:
        replicas: 3
  restServer:
    roleGroups:
      default:
        replicas: 1
